{% extends "layout.jinja2" %}

{% block header %}
    <div class="header row">
        <div class="col text-center">
            <h2><span class="font-semi-bold">{{ activity.title }}</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content row">
    <div class="col-md-4">
        <ul>
            {% for profile in activity.performers %}
            <li><a href="{{ request.route_path('profile', uid=profile.id) }}">{{ profile.realname }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <blockquote>
            {{ activity.description }}
        </blockquote>
    </div>
    <div class="col-md-12 text-center">
        {% if request.identity.is_staff %}
        <div class="btn-group"><a href="edit/" class="btn btn-primary active"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a></div>
        {% endif %}
    </div>
</div>
<div class="content row">
    <div class="col-md">
    {% if request.identity in activity.performers %}
        {% if issue_form %}
             {{ issue_form|safe }}
        {% endif %}
        {% if appstruct %}
          {{ appstruct }}
        {% endif %}
    {% endif %}
    </div>
</div>

{% endblock content %}
