{% extends "layout.jinja2" %}

{% block header %}
    <div class="header row">
        <div class="col text-center">
             <h2><span class="font-semi-bold">{{ session }}</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content row">
    <div class="col-md-3">
        <p></p>
    </div>
    <div class="col-md-9">
      {% if session_form %}
         {{ session_form|safe }}
      {% endif %}
      {% if appstruct %}
      {{ appstruct }}
      {% endif %}
    </div>
</div>
{% endblock content %}
