{% extends "layout.jinja2" %}

{% block header %}
    <div class="header row">
        <div class="col text-center">
            <h2><span class="font-semi-bold">{{ profile.realname }}</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content row">
    <div class="col-md-3">
        <p>
            <span class="font-bold">Organization</span>: <span class="font-normal">{{ profile.organization }}</span><br>
            <span class="font-bold">Location</span>: <span class="font-normal">{% if profile.state %}{{ profile.state }}, {% endif %}{{ profile.country }}</span><br>
            <small>(times and dates are shown in the time zone you configured in the settings)</small>
        </p>
    </div>
    <div {% if request.identity == profile %}class="col-md-5"{% else %}class="col-md-9"{% endif %}>
        {% if profile.is_speaker %}
            <h3>{% if request.identity == profile %}Your schedule{% else %}Schedule{% endif %}<br></h3>
        <ul>
        {% for session in sessions %}
            <li><a href="{{ request.route_path('session', session_id=session['id']) }}"><strong><em>{{ session['title'] }}</em></strong></a> on {{ session['start_time'] }}</li>
        {% endfor %}
        </ul>
        {% endif %}
	{% if request.identity == profile %}
	<h3>Join the sessions</h3>
    	<p>To connect to the sessions, please use the following links:</p><ul><li><a href="{{ mumble_url }}"><strong>Mumble</strong> sessions</a></li><li><a href="{{ zoom_url }}"><strong>Zoom</strong> sessions</a></li></ul>
	<p><strong>To see</strong> the slides during the sessions, you can use the following link: <a href="{{ slides_url }}">Slides</a></p>
        {% if profile.is_speaker %}
	<p><strong>To share</strong> your slides during the sessions, you can go to the following address: <a href="{{ project_url }}">Share your screen</a></p>
	{%endif%}
	{%endif%}
</div>
    {% if request.identity == profile %}
    <div class="col-md-4">
        <h3>Activities you follow</h3>
        <ul>
        {% for session in followed %}
            <li><a href="{{ request.route_path('session', session_id=session.id) }}">{{ session }}</a> on {{ session.start_time }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock content %}
