{% extends "layout.jinja2" %}

{% block header %}
    <div class="header row">
        <div class="col text-center">
            <h2><span class="font-semi-bold"><em>{{ session['title'] }}</em></span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content row">
    <div class="col-md-4">
        <p>
            <span class="font-bold">Track</span>: <span class="font-normal">{{ session['track'] }}</span><br>
            <span class="font-bold">Starts</span>: <em><span class="font-normal">{{ session['start_time'] }}</span></em><br>
            <span class="font-bold">Ends</span>: <em><span class="font-normal">{{ session['end_time'] }}</span></em><br>
            <small>(times and dates are shown in the time zone you configured in the settings)</small>
        </p>
        <blockquote>
            {{ session['description'] }}
        </blockquote>
    </div>
    <div class="col-md-6">
        <ul>
        {% for activity in session['activities'] %}
            <li><a href="{{ request.route_path('activity', activity_id=activity.id) }}"><strong><em>{{ activity.title }}</em></strong></a>
            <ul>
            {% for profile in activity.performers %}
                <li><a href="{{ request.route_path('profile', uid=profile.id) }}">{{ profile.realname }}</a></li>
            {% endfor %}
            </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
