{% extends "layout.jinja2" %}

{% block header %}
    <div class="header row">
        <div class="col text-center">
             <h2><span class="font-semi-bold">Sign up</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content row">
<div class="col-md-3"></div>
    <div class="col">
      {% if register_form %}
         {{ register_form|safe }}
      {% endif %}
      {% if appstruct %}
      {{ appstruct }}
      {% endif %}
    </div>
</div>
{% endblock content %}
